
 {
  font-family: sans-serif;
  font-weight: lighter;
}
body {
  background-color: #1BCBC8;
  color: Grey;
}


button {
  width: 250px;
  height: 50px;
  background-color: DarkSalmon ;
  border: none; 
  font-size: 1em;
  color: white;
}
